{% extends 'base.html' %}

{% block content %}

<h4 style="margin-top: 15px; margin-bottom: 20px;">Экспертная система отказ СА </h4>
<p style="text-align:justify;"><strong>Определение отказавшего элемента,</strong><br> <strong>формирование мероприятия по <br>недопущению отказа</br></strong></p>
<form method="post">
  {% csrf_token %}
  <label for="type_refuses2">Тип отказа:</label>
  <input list="type_refuses_list2" name="type_refuses2" autocomplete="on"  id="type_refuses2" value="{{ request.POST.type_refuses2 }}"  style="width: 9%; ">
  <datalist id="type_refuses_list2">
    {% for type in type_refuses2 %}
      <option value="{{ type }}">
    {% endfor %}
  </datalist>


  <label for="type_gpa2">Тип ГПА:</label>
  <input list="type_gpa_list2" name="type_gpa2" id="type_gpa2" value="{{ request.POST.type_gpa2 }}"  style="width: 12%; " >

  <datalist id="type_gpa_list2">
    {% for type in type_gpa2 %}
      <option value="{{ type }}">
    {% endfor %}
  </datalist>


  <label for="type_say2">Тип САУ:</label>
  <input list="type_say_list2" name="type_say2" id="type_say2" value="{{ request.POST.type_say2 }}"  style="width: 12%; " >
  <datalist id="type_say_list2">
    {% for type in type_say2 %}
      <option value="{{ type }}">
    {% endfor %}
  </datalist>




 <label for="type_equioment2">отказавший элемент:</label>
<input type="submit" value="Найти отказа" style="margin-top: 10mm; margin-left: 1px; text-align: center;">
  <input list="type_equioment_list2" name="type_equioment2" id="type_equioment2" value="{{ request.POST.type_equioment2 }}" style="width: 26%; ">
  <datalist id="type_equioment_list2">
    {% for type in type_equioment2%}
      <option value="{{ type }}">
    {% endfor %}
  </datalist>

<input type="submit" value="Найти решение" class="btn btn-primary" style="margin-top: 10mm; margin-left: 30px; text-align: center;">
<button class="btn btn-primary" style="margin-left: 70px; margin-top: 10mm; text-align: center;"><a href="" style="display: block; color: white;">Обновить</a></button>




</form>


{% if predictions %}
  <table style="margin-top: 20px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="margin-top: 1cm;">Отказавший элемент</th>
          <th style="margin-top: 1cm;">Возможные причины отказа</th>
          <th style="margin-top: 1cm;">Мероприятия по повышению надежности</th>
        </tr>
      </thead>
      <tbody>
        {% for prediction in predictions2 %}
          <tr style="margin-top: 2cm;">
            <td>{{ prediction.element2 }}</td>
            <td>{{ prediction.maybe_reasons2 }}</td>
            <td>{{ prediction.meropriation2 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </table>
{% else %}
  {% if form.is_bound and form.is_valid %}
    <p style="margin-top: 20px;">Нет прогнозов, удовлетворяющих выбранным критериям.</p>
  {% endif %}
{% endif %}

{% endblock %}


<script>
</script>